@charset "utf-8";

::selection {
  background: #D9EDF7 /* Safari */
  }
::-moz-selection {
  background: #D9EDF7 /* Firefox */
}

.container, .row {
  overflow: hidden;
}

#main-content {
  padding: 10px;
}

#main, #main-content  {
  margin-left: 0px!important;
}

#sidebar2  {
  margin-left: 10px!important;
}

.table, .table-bordered, .table-striped {
  border-color:  #fd7800!important;
  border-width: 2px!important;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0px!important; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 0px!important; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0px!important; 
}

.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child,
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child, .table-bordered tfoot:last-child tr:last-child td:first-child,
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0px!important; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 0px!important; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0px!important; 
}

.table tr th, .table tr td {
  border-right-color:  #fd7800!important;
  border-left-color:  #fd7800!important;
  border-right-width: 2px!important;
  border-left-width: 2px!important;
}

.table thead {
  background-color:  #fd7800!important;
  color: #fff;
}

.table tbody {
  font-size:12px;
}


/* Q styles */
#grid-top {
 padding: 10px;
}


#toolbar .container {
  background-color: #1b1b1b;
}

#header, #footer {
  background: #fd7800;
  background-color: #fd7800;
  background-image: none;
  border: none;
  border-style: none;
  overflow: hidden;
  color: #fff;
}

#header #logo {
  margin-top: 25px;
  margin-bottom: 25px;
}

#header form {
  margin-bottom: 0px;
  margin-top: 5px;
}

#header a {
  color: #fff;
  margin-left: 0px;
  margin-top: 20px;
}

#header input[type="checkbox"] {
  margin-top: 0px;
}

#header label.strong {
  font-weight: bold;
  margin-bottom: 0px;
}

#header input.button {
  margin-top: 22;
  background: url(https://www.lanteotc.co.za/images/Login-Button.png) no-repeat;
  width: 69px;
  height: 68px;
  cursor:pointer;
  border: none;
}

#header #logo img {
  margin-left: 25px;
  width: 220px;
}

#footer {
  padding: 10px;
}

#footer .container .row .module {
  margin-bottom: 0px;
  font-size: 12px;
}

#footer .container .row .module  a {
  color: #fff;
}
